<section class="container">
  <div class="page-header">
      <h1>Tipos de Artículo: {{vm.modelType.name}}</h1>
  </div>  
  <div class="row pull-left" ng-if="!vm.authentication.isAdminUser()">
      <a class="btn btn-secondary" data-ui-sref="modelTypes.list">
       <i class="glyphicon glyphicon-arrow-left"></i>
       Regresar
     </a>
   </div>
   <div class="row pull-left" ng-if="vm.authentication.isAdminUser()">
     <a class="btn btn-secondary" data-ui-sref="admin.modelTypes.list">
       <i class="glyphicon glyphicon-arrow-left"></i>
       Regresar
     </a>
   </div>
   <br/><br/>
  <p class="lead" ng-bind="vm.modelType.description"></p>
</section>
