<section class="container">
  <div class="page-header">
    <h1>Técnico: {{vm.technician.name}}</h1>
  </div>
  <div class="row pull-left" ng-if="!vm.authentication.isAdminUser()">
    <a class="btn btn-secondary" data-ui-sref="technicians.list">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Regresar
    </a>
  </div>
  <div class="row pull-left" ng-if="vm.authentication.isAdminUser()">
    <a class="btn btn-secondary" data-ui-sref="admin.technicians.list">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Regresar
    </a>
  </div>
  <br/><br/>
   
  <div class="row">      
    <div class="col-md-12">     
      <table class="table table-striped">
        <thead>
          <tr>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Nombre</th>
            <td>  
                {{vm.technician.name}}</a>
            </td>
          </tr>
          <tr>
            <th>Taller</th>
            <td>  
                {{vm.technician.workshop.name}}
            </td>
          </tr>
          <tr>
            <th>Celular</th>
            <td>  
                {{vm.technician.mobilePhone}}
            </td>
          </tr>
          <tr>
            <th>Otro Teléfono</th>
            <td>  
                {{vm.technician.otherPhone}}
            </td>
          </tr>
          <tr>
            <th>Email</th>
            <td>  
                {{vm.technician.email}}
            </td>
          </tr>   
        </tbody> 
      </table>
    </div>
  </div> 
</section>
