<section class="container">
  <div class="page-header">
    <h1>Colores</h1>
    <a class="btn btn-secondary" data-ui-sref="home">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Regresar a Inicio
    </a>
  </div>

  <div class="form-group">
    <label class="control-label" for="modelName">Filtro de búsqueda</label>
    <input name="search" type="text" ng-model="vm.search" id="search" class="form-control" placeholder="Buscar.." autocomplete="off"  ng-change="vm.figureOutItemsToDisplay()" autofocus>
  </div>
  <div class="list-group">
    <a ng-repeat="color in vm.pagedItems" ui-sref="colors.view({ colorId: color._id })" class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="color.name"></h4>
      <p class="list-group-item-text" style="background-color: {{color.code}};color: {{color.code}};" data-ng-bind="color.code"></p>
    </a>
  </div>
  <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>

</section>
