<section>
  <div class="page-header">
    <h1>Talleres</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="workshop in vm.workshops" ui-sref="workshops.view({ workshopId: workshop._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="workshop.created | date:'mediumDate'"></span>
        by
        <span ng-if="workshop.user" ng-bind="workshop.user.displayName"></span>
        <span ng-if="!workshop.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="workshop.name"></h4>
      <h3 class="list-group-item-heading" ng-bind="workshop.location"></h3>
      <p class="list-group-item-text" ng-bind="workshop.content"></p>
    </a>
  </div>
</section>
