<section class="container">
  <div class="page-header">
    <h1>Talleres</h1>
    <a class="btn btn-secondary" data-ui-sref="home">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Regresar a Inicio
    </a>
  </div>
  
  <div class="form-group">
    <label class="control-label" for="modelName">Filtro de búsqueda</label>
    <input name="search" type="text" ng-model="vm.search" id="search" class="form-control" placeholder="Buscar.." autocomplete="off"  ng-change="vm.figureOutItemsToDisplay()" autofocus>
  </div>

  <div class="row">      
    <div class="col-md-12">     
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Provincia</th>
            <th>Descripción</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="workshop in vm.pagedItems">
            <td>  
                <a data-ui-sref="workshops.view({workshopId: workshop._id})" class="btn btn-link">
                {{workshop.name}}</a>
            </td>
            <td>  
                {{workshop.location}}
            </td>
            <td>  
                {{workshop.content}}
            </td>
          </tr>   
        </tbody> 
      </table>
    </div>
  </div>  
  <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
  
</section>
