<section class="container">
  <div class="page-header">
    <h1>Taller: {{vm.workshop.name}}</h1>
  </div>
  <div class="row pull-left" ng-if="!vm.authentication.isAdminUser()">
     <a class="btn btn-secondary" data-ui-sref="workshops.list">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Regresar
    </a>
  </div>
  <div class="row pull-left" ng-if="vm.authentication.isAdminUser()">
    <a class="btn btn-secondary" data-ui-sref="admin.workshops.list">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Regresar
    </a>
  </div>
  <br/><br/>
  <div class="row">      
    <div class="col-md-12">     
      <table class="table table-striped">
        <tbody>
          <tr >
            <th>Nombre</th>
            <td>  
                {{vm.workshop.name}}</a>
            </td>
          </tr>   
          <tr >
            <th>Provincia</th>
            <td>  
                {{vm.workshop.location}}
            </td>
          </tr>   
          <tr >
            <th>Descripción</th>
            <td>  
                {{vm.workshop.content}}
            </td>
          </tr>   
        </tbody> 
      </table>
    </div>
  </div>  
</section>
