<section class="container">
  <div class="page-header">
    <h1>{{vm.item._id ? 'Editar Dispositivo' : 'Nuevo Dispositivo'}}</h1>
  </div>
  <div class="pull-right">
    <a ng-show="vm.item._id" class="btn btn-md btn-primary" ng-click="vm.save(vm.form.itemForm.$valid)">
      <i class="glyphicon glyphicon-save"></i> Actualizar
    </a>
  </div>
  <div class="row pull-left">
     <a class="btn btn-secondary" data-ui-sref="technician.items.list">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Regresar
    </a>
  </div>
  <br />
  <h2>Costo Total: {{vm.getTotalCost() | currency : '₡'}}</h2>
  <br />
  <div class="row">      
    <h3 class="text-center"><b>Datos del dispositivo</b></h3>     
    <div class="col-md-12">     
      <table class="table table-striped">
        <thead>
          <tr>
            <th># serie</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Color</th>
            <th>Fecha de Ingreso</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>  
                {{vm.item.serialNumber}}
            </td>
            <td>  
                {{vm.item.model.brand.name}}
            </td>
            <td>  
                {{vm.item.model.name}}
            </td>
            <td >  
                {{vm.item.color.name}}
                <span style="background-color: {{vm.item.color.code}};color: {{vm.item.color.code}};" value="{{vm.item.color.code}}">{{vm.item.color.code}}</span> 

            </td>
            <td>  
                {{vm.item.registrationDate | date:'dd-MMM-yyyy'}}
            </td>
          </tr>   
        </tbody> 
      </table>
    </div>
  </div>  
  <br />
  <form name="vm.form.itemForm" ng-submit="vm.save(vm.form.itemForm.$valid)" novalidate>
    <repairs resolutions="vm.item.resolutions" form="vm.form.itemForm" on-status-change="vm.onStatusChange" show-labels="true" status="vm.item.status"></repairs>
    
    <br />
    <h3>Costo Total: {{vm.getTotalCost() | currency : '₡'}}</h3> 
    <br /><br />
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-lg">{{vm.item._id ? 'Actualizar' : 'Crear'}}</button>
    </div>
  </form>
</section>
