<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="/modules/core/client/img/brand/logo.jpg" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Sistema de Administración de Inventarios en Reparación        
      </p>
      <h6 class="text-muted">
        BETA v0.1
      </h6> 
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-md" data-ui-sref="admin.items.list">Dispositivos</a> 
        <a class="btn btn-primary btn-md" data-ui-sref="admin.items.repairs.list">Reparaciones</a>       
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-default" data-ui-sref="items.list">Ver Dispositivos</a>
        <a class="btn btn-default" data-ui-sref="admin.items.repairs.create">Nueva Reparación</a>  
        <a class="btn btn-default" data-ui-sref="brands.list">Ver Marcas</a>
        <a class="btn btn-default" data-ui-sref="models.list">Ver Modelos</a>
      </p>
    </div>
  </div>
  <div>
  <p class="text-center text-muted">
    Copyright 2018
  </p>
</section>
