<section>
  <div class="page-header">
    <h1>{{vm.item._id ? 'Editar Dispositivo' : 'Nuevo Dispositivo'}}</h1>
  </div>
  <div class="pull-right">
    <a ng-show="vm.item._id" class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="row pull-left">
     <a class="btn btn-secondary" data-ui-sref="admin.items.list">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Regresar
    </a>
  </div>
  <br /><br />
  <div class="col-md-12">
    <form name="vm.form.itemForm" class="form-horizontal" ng-submit="vm.save(vm.form.itemForm.$valid)" novalidate>
      <fieldset>
        <legend>Datos del dueño</legend>
        <div class="form-group" show-errors>
          <label class="control-label" for="ownerName">Nombre *</label>
          <input name="ownerName" type="text" ng-model="vm.item.owner.name" id="ownerName" class="form-control" placeholder="Nombre" required autofocus>
          <div ng-messages="vm.form.itemForm.ownerName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Nombre es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="ownerId">Cédula *</label>
          <input name="ownerId" type="text" ng-model="vm.item.owner.id" id="ownerId" class="form-control" placeholder="Cédula" required>
          <div ng-messages="vm.form.itemForm.ownerId.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Cédula es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="ownerMobilePhone">Celular *</label>
          <input name="ownerMobilePhone" mask="9999-9999" mask-restrict="reject" placeholder="Celular" autocomplete="off" model-view-value="true" ng-model="vm.item.owner.mobilePhone" id="ownerMobilePhone" class="form-control" required />
          <div ng-messages="vm.form.itemForm.ownerMobilePhone.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Celular es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="ownerOtherPhone">Otro Teléfono</label>
          <input name="ownerOtherPhone" mask="9999-9999" mask-restrict="reject" placeholder="Otro Teléfono" autocomplete="off" model-view-value="true" ng-model="vm.item.owner.otherPhone" id="ownerOtherPhone" class="form-control" />
        </div>
        <div class="form-group" show-errors>
            <label class="control-label" for="ownerEmail">Email</label>
            <input name="ownerEmail" type="email" ng-model="vm.item.owner.email" id="ownerEmail" autocomplete="off" class="form-control" placeholder="Email">
          <div ng-messages="vm.form.itemForm.ownerEmail.$error" role="alert">
            <p class="help-block error-text" ng-message="email">Email es incorrecto.</p>
          </div>
          </div>
      </fieldset>
      <br />
      <fieldset>
        <legend>Datos del dispositivo</legend>
        <div class="form-group" show-errors>
          <label class="control-label" for="registrationDate">Fecha de ingreso *</label>
          <br />
          <input name="registrationDate" type="hidden" ng-model="vm.item.registrationDate" id="registrationDate" class="form-control" required>
          <datetimepicker 
            ng-model="vm.item.registrationDate" 
            hidden-time="true" 
            date-format="dd-MMM-yyyy" 
            current-text="Hoy"
            clear-text="Limpiar"
            close-text="Cerrar"></datetimepicker>          
          <div ng-messages="vm.form.itemForm.registrationDate.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Fecha de ingreso es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>        
          <label class="control-label" for="brands">Marca *</label>  
          <input name="brands" type="hidden" ng-model="vm.item.brand" id="brands" class="form-control" required>
          <div class="input-group select2-bootstrap-append">
            <ui-select ng-model="vm.item.brand" on-select="vm.setModel($select.selected.brand)">
              <ui-select-match  placeholder="Seleccione la marca...">
                    <span>{{$select.selected.brand.name}}</span>
                </ui-select-match>
                <ui-select-choices repeat="item in (vm.models | filter: $select.search) track by item._id">
                    <div ng-bind-html="item.brand.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select> 
            <span class="input-group-btn">
              <button type="button" ng-click="vm.item.brand = undefined" class="btn btn-default">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </span>  
          </div> 
          <div ng-messages="vm.form.itemForm.model.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Marca es requerido.</p>
          </div>
        </div> 
        <div class="form-group" show-errors>        
          <label class="control-label" for="models">Modelo *</label>  
          <input name="models" type="hidden" ng-model="vm.item.model" id="models" class="form-control" required>
          <div class="input-group select2-bootstrap-append">
            <ui-select ng-model="vm.item.model" on-select="vm.setBrand($select.selected)">
              <ui-select-match  placeholder="Seleccione la marca...">
                    <span>{{$select.selected.name}}</span>
                </ui-select-match>
                <ui-select-choices repeat="item in (vm.models | filter: $select.search) track by item._id">
                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select> 
            <span class="input-group-btn">
              <button type="button" ng-click="vm.item.model = undefined" class="btn btn-default">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </span>  
          </div> 
          <div ng-messages="vm.form.itemForm.model.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Modelo es requerido.</p>
          </div>
        </div> 
        <div class="form-group" show-errors>
          <label class="control-label" for="serialNumber">Número de serie *</label>
          <input name="serialNumber" type="text" ng-model="vm.item.serialNumber" id="serialNumber" class="form-control" placeholder="Número de serie" required>
          <div ng-messages="vm.form.itemForm.serialNumber.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Número de serie es requerido.</p>
          </div>
        </div>        
        <div class="form-group" show-errors>
          <label class="control-label" for="color">Color</label>
          <input name="color" colorpicker colorpicker-with-input="false" colorpicker-close-on-select type="text" class="img-rounded" ng-model="vm.item.color" style="background-color: {{vm.item.color}};color: {{vm.item.color}};height: 30px;"  ng-disabled="readonly" readonly="true" />
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="itemStatus">Estado de revisión *</label>
          <input name="itemStatus" type="hidden" ng-model="vm.item.status" id="itemStatus" class="form-control" placeholder="Por concepto de" required>
          <div class="dropdown" id="storeLocationDropdown" uib-dropdown>
            <button class="btn btn-default dropdown-toggle" uib-dropdown-toggle role="button">
              <span ng-if="!vm.item.status">-- Seleccione uno --</span>
              {{vm.item.status}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="status in vm.statuses">
                <a ng-click="vm.setStatus(status)">{{status}}</a>
              </li>
            </ul>
          </div> 
          <div ng-messages="vm.form.storeForm.itemStatus.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Estado es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="itemObservations">Observaciones (incluir daños o marcas físicas)</label>
           <textarea name="itemObservations" data-ng-model="vm.item.observations" id="itemObservations" class="form-control" cols="30" rows="10" placeholder="Observaciones"></textarea>
        </div>
      </fieldset>
      <br />
      <fieldset>
        <legend>Datos del Taller</legend>
        <div class="form-group" show-errors>
          <label class="control-label" for="ownerName">Taller *</label>
          <input name="ownerName" type="text" ng-model="vm.item.owner.name" id="ownerName" class="form-control" placeholder="Nombre" required>
          <div ng-messages="vm.form.itemForm.ownerName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Nombre del taller es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="ownerId">Técnico *</label>
          <input name="ownerId" type="text" ng-model="vm.item.owner.id" id="ownerId" class="form-control" placeholder="Cédula" required>
          <div ng-messages="vm.form.itemForm.ownerId.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Técnico es requerido.</p>
          </div>
        </div>
      </fieldset>
      <div class="form-group">
        <button type="submit" class="btn btn-default">{{vm.item._id ? 'Actualizar' : 'Crear'}}</button>
      </div>
    </form>
  </div>
</section>
