<section>
  <div class="page-header">
    <h1>
      Artículos <span ng-if="!vm.searchItemStatus">- Casos Abiertos</span><span ng-if="vm.searchItemStatus">- Casos Cerrados</span>     
    </h1>
    <a class="btn btn-secondary" data-ui-sref="home">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Regresar a Inicio
    </a>
  </div>
  <a class="btn btn-primary" data-ui-sref="admin.items.create" ng-if="!vm.searchItemStatus">
    <i class="glyphicon glyphicon-plus"></i> Agregar
  </a>
  <br />
  <div data-ng-if="vm.items.length">
    <button class="btn btn-warning pull-right" ng-disabled="!vm.tableParams.hasFilter()" ng-click="vm.tableParams.filter({})">Borrar Filtros de Búsqueda</button>
      <div id="exportable">        
        <table ng-table="vm.tableParams" class="table table-hover table-condensed editable-table" show-filter="true" ng-table-columns-binding="vm.cols" export-csv='csv' ng-form="vm.tableForm" disable-filter="vm.isAdding" demo-tracked-table="vm.tableTracker" >
          <tbody>
            <tr ng-repeat="item in $data"ng-class="vm.getStatusClass(item)" ng-form="rowForm" demo-tracked-table-row="item">
              <td class="col-md-1" title="'#'" filter="{ 'itemNumber': 'number'}" sortable="'itemNumber'" ng-if="true">
                <a data-ui-sref="items.view({itemId: item._id})" data-toggle="tooltip" title="Editar artículo #{{item.itemNumber}}">{{item.itemNumber}}</a>
              </td>              
              <td  class="col-md-1" title="'Tienda'" filter="{ 'store.name': 'select'}" sortable="'store.name'" filter-data="vm.storesFilterArray" ng-if="true">
                  {{item.store.name}}
              </td>
              <td  class="col-md-1" title="'Fecha registro'" filter="{ 'registrationDate': 'date'}" sortable="'registrationDate'" ng-if="true">
                  {{item.registrationDate | date:'dd-MMM-yyyy'}}
              </td>
              <td  class="col-md-1" title="'Dueño'" filter="{ 'owner.name': 'text'}" sortable="'owner.name'" ng-if="true">
                  {{item.owner.name}}
              </td>
              <td  class="col-md-1" title="'Marca - Modelo'" filter="{ 'model.brand.name': 'text', 'model.name': 'text'}" sortable="'model.name'" ng-if="true">
                {{item.model.brand.name}} - {{item.model.name}}
              </td>
              
              <td  class="col-md-1" title="'Tipo de artículo'" filter="{ 'model.modelType.name': 'text'}" sortable="'model.modelType.name'" ng-if="true">
                {{item.model.modelType.name}}
              </td>
              <td  class="col-md-1" title="'Color'" filter="{ 'color.name': 'select'}" filter-data="vm.colorsFilterArray"  sortable="'color.name'" ng-if="true">
                  {{item.color.name}} <span style="background-color: {{item.color.code}};color: {{item.color.code}};">{{item.color.name}}</span>
              </td>
              <td  class="col-md-1" title="'# serie'" filter="{ 'serialNumber': 'text'}" sortable="'serialNumber'" ng-if="true">
                  {{item.serialNumber}}
              </td>
              <td  class="col-md-1" title="'Estado'" filter="{ 'status': 'select'}" filter-data="vm.statusesFilterArray" sortable="'status'" ng-if="true">
                  {{item.status}}
              </td> 
              <td  class="col-md-1" title="'Garantía / Vencimeinto'" sortable="'waranty.enabled'" ng-if="true">
                  {{item.waranty.enabled ? 'Si' : 'No' }} <p ng-if="item.waranty.expirationDate">{{item.waranty.expirationDate | date:'dd-MMM-yyyy'}}</p>
              </td>
              <td  class="col-md-1" title="'Costo ₡'" sortable="'vm.getItemTotalCost(item)'" ng-if="true">
                  {{vm.getItemTotalCost(item) | currency : ''}}
              </td>
              <td></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>          
              <td ng-if="vm.cols[0].show()"></td>  
              <td ng-if="vm.cols[1].show()"></td>     
              <td ng-if="vm.cols[2].show()"></td>     
              <td ng-if="vm.cols[3].show()"></td>     
              <td ng-if="vm.cols[4].show()"></td>     
              <td ng-if="vm.cols[5].show()"></td>     
              <td ng-if="vm.cols[6].show()"></td>     
              <td ng-if="vm.cols[7].show()"></td>    
              <td ng-if="vm.cols[8].show()"></td>          
              <td ng-if="true" class="text-center">            
                <span><b>Total Artículos:</b> {{($data).length}}</span>
              </td>
              <td>
                <div class="text-right">
                <a class="btn" title="Export Table" ng-click='csv.generate()' ng-href="{{ csv.link() }}"
                  download="Artículos.csv">
                  <i class="glyphicon glyphicon-new-window"></i> &#160;Exportar
                </a>  
                </div>
              </td>
            </tr>
          </tfoot> 
        </table>
      </div>   
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.items.$resolved && !vm.items.length && vm.searchItemStatus !== 'cerrado'">
    No hay artículos, Porque no <a data-ui-sref="admin.items.create">creas uno</a>?
  </div>
</section>
