<section>
  <div class="page-header">
    <h1>
      Talleres
      <a class="btn btn-primary pull-right" data-ui-sref="admin.workshops.create">
        <i class="glyphicon glyphicon-plus"></i> Agregar
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="workshop in vm.workshops" data-ui-sref="admin.workshops.edit({workshopId: workshop._id})" class="list-group-item">
      <h4 class="list-group-item-heading" data-ng-bind="workshop.name"></h4>
      <p class="list-group-item-text" data-ng-bind="workshop.location"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.workshops.$resolved && !vm.workshops.length">
    No hay talleres, <a data-ui-sref="admin.workshops.create">Crear uno</a>?
  </div>
</section>
