<section class="container">
  <div class="page-header">
    <h1>
      Tiendas
      <a class="btn btn-primary pull-right" data-ui-sref="admin.stores.create">
        <i class="glyphicon glyphicon-plus"></i> Agregar
      </a>
    </h1>
    <a class="btn btn-secondary" data-ui-sref="home">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Regresar a Inicio
    </a>
  </div>
  
  <div class="form-group">
    <label class="control-label" for="modelName">Filtro de búsqueda</label>
    <input name="search" type="text" ng-model="vm.search" id="search" class="form-control" placeholder="Buscar.." autocomplete="off"  ng-change="vm.figureOutItemsToDisplay()" autofocus>
  </div>

  <div class="row">      
    <div class="col-md-12">     
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Provincia</th>
            <th>Descripción</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="store in vm.pagedItems">
            <td>  
                <a data-ui-sref="admin.stores.edit({storeId: store._id})" class="btn btn-link">
                {{store.name}}</a>
            </td>
            <td>  
                {{store.location}}
            </td>
            <td>  
                {{store.content}}
            </td>
          </tr>   
        </tbody> 
      </table>
    </div>
  </div>  
  <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>

  <div class="alert alert-warning text-center" data-ng-if="vm.stores.$resolved && !vm.stores.length">
    No hay tiendas, <a data-ui-sref="admin.stores.create">Crear una</a>?
  </div>
</section>
