<section>
  <div class="page-header">
    <h1>
      Tiendas
      <a class="btn btn-primary pull-right" data-ui-sref="admin.stores.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="store in vm.stores" data-ui-sref="admin.stores.edit({storeId: store._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="store.created | date:'mediumDate'"></span>
        by
        <span ng-if="store.user" ng-bind="store.user.displayName"></span>
        <span ng-if="!store.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="store.title"></h4>
      <p class="list-group-item-text" data-ng-bind="store.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.stores.$resolved && !stores.length">
    No stores yet, why don't you <a data-ui-sref="admin.stores.create">create one</a>?
  </div>
</section>
