<section class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-md-12">
        <h1>Usuario: {{vm.user.username}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="pull-left col-md-6">
        <a class="btn btn-secondary" data-ui-sref="admin.users">
          <i class="glyphicon glyphicon-arrow-left"></i>
          Regresar
        </a>
      </div>
      <div class="pull-right col-md-4">
        <a class="btn btn-primary" ui-sref="admin.user-edit({userId: vm.user._id})">
          <i class="glyphicon glyphicon-edit"></i> Editar
        </a>        
        <a class="btn btn-default" ng-show="vm.user.provider === 'local'" ui-sref="admin.user-password({userId: vm.user._id})">
          <i class="glyphicon glyphicon-edit"></i> Cambiar Contraseña
        </a>
        <a class="btn btn-danger" ng-click="vm.remove()" ng-if="!vm.isContextUserSelf()">
          <i class="glyphicon glyphicon-trash"></i> Eliminar
        </a> 
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3"><strong>First Name</strong></div>
        <div class="col-md-6" ng-bind="vm.user.firstName"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Last Name</strong></div>
        <div class="col-md-6" ng-bind="vm.user.lastName"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Email</strong></div>
        <div class="col-md-6" ng-bind="vm.user.email"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Provider</strong></div>
        <div class="col-md-6" ng-bind="vm.user.provider"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Created</strong></div>
        <div class="col-md-6" ng-bind="vm.user.created"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Roles</strong></div>
        <div class="col-md-6" ng-bind="vm.user.roles"></div>
      </div>
    </div>
  </div>
</section>
