<section class="container">
  <div class="page-header">
    <h1>{{vm.brand._id ? 'Editar Marca' : 'Nueva Marca'}}</h1>
  </div>
  <div class="pull-right">
    <a ng-show="vm.brand._id" class="btn btn-danger" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i> Eliminar
    </a>
  </div>
  <div class="row pull-left">
     <a class="btn btn-secondary" data-ui-sref="admin.brands.list">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Regresar
    </a>
  </div>
  <br /><br />
  <div class="col-md-12">
    <form name="vm.form.brandForm" class="form-horizontal" ng-submit="vm.save(vm.form.brandForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="brandName">Nombre de la Marca *</label>
          <input name="brandName" type="text" ng-model="vm.brand.name" id="brandName" class="form-control" placeholder="Nombre" required autofocus>
          <div ng-messages="vm.form.brandForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Nombre es requerido.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="brandDescription">Descripción</label>
          <textarea name="brandDescription" data-ng-model="vm.brand.description" id="brandDescription" class="form-control" cols="30" rows="10" placeholder="Descripción"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">{{vm.brand._id ? 'Actualizar' : 'Crear'}}</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
