<section class="container">
  <div class="page-header">
    <h1>{{vm.model._id ? 'Editar Modelo' : 'Nuevo Modelo'}}</h1>
  </div>
  <div class="pull-right">
    <a ng-show="vm.model._id" class="btn btn-danger" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i> Eliminar
    </a>
  </div>
  <div class="row pull-left">
     <a class="btn btn-secondary" data-ui-sref="admin.models.list">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Regresar
    </a>
  </div>
  <br /><br />
  <div>
    <form name="vm.form.modelForm" class="form-horizontal" ng-submit="vm.save(vm.form.modelForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="modelName">Nombre del modelo *</label>
          <input name="modelName" type="text" ng-model="vm.model.name" id="modelName" class="form-control" placeholder="Nombre" required autofocus>
          <div ng-messages="vm.form.modelForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Nombre es requerido.</p>
          </div>
        </div>
        <dropdowncontrol model="vm.model.brand" collection="vm.brands" required="true" labelvalue="Marca" fieldname="brand" show-labels="true" form="vm.form.modelForm" simple="false"></dropdowncontrol>     
        
        <dropdowncontrol model="vm.model.modelType" collection="vm.modelTypes" required="true" labelvalue="Tipo de artíiculo" fieldname="modelType" show-labels="true" form="vm.form.modelForm" simple="false"></dropdowncontrol>    

        <div class="form-group">
          <label class="control-label" for="modelDescription">Descripción</label>
          <textarea name="modelDescription" data-ng-model="vm.model.description" id="modelDescription" class="form-control" cols="30" rows="10" placeholder="Descripción"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">{{vm.model._id ? 'Actualizar' : 'Crear'}}</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
