<section>
  <div class="page-header">
    <h1>
      Modelos
      <a class="btn btn-primary pull-right" data-ui-sref="admin.models.create">
        <i class="glyphicon glyphicon-plus"></i> Agregar
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="model in vm.models" data-ui-sref="admin.models.edit({modelId: model._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="model.created | date:'mediumDate'"></span>
        by
        <span ng-if="model.user" ng-bind="model.user.displayName"></span>
        <span ng-if="!model.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="model.name"></h4>
      <p class="list-group-item-text" data-ng-bind="model.brand.name"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.models.$resolved && !vm.models.length">
    No hay modelos, Porqué no <a data-ui-sref="admin.models.create">creas uno</a>?
  </div>
</section>
