<section class="container">
  <div class="page-header">
    <h1>{{vm.color._id ? 'Editar Color' : 'Nuevo Color'}}</h1>
  </div>
  <div class="pull-right">
    <a ng-show="vm.color._id" class="btn btn-danger" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i> Eliminar
    </a>
  </div>
  <div class="row pull-left">
     <a class="btn btn-secondary" data-ui-sref="admin.colors.list">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Regresar
    </a>
  </div>
  <br /><br />
  <div class="col-md-12">
    <form name="vm.form.colorForm" class="form-horizontal" ng-submit="vm.save(vm.form.colorForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="colorName">Nombre del Color *</label>
          <input name="colorName" type="text" ng-model="vm.color.name" id="colorName" class="form-control" placeholder="Nombre" required autofocus>
          <div ng-messages="vm.form.colorForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Nombre es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="colorCode">Color *</label>
          <input name="colorCode" colorpicker colorpicker-with-input="false" colorpicker-close-on-select type="text" class="img-rounded" ng-model="vm.color.code" style="background-color: {{vm.color.code}};color: {{vm.color.code}};height: 30px;"  ng-disabled="readonly" readonly="true" required />
          <div ng-messages="vm.form.colorForm.colorCode.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Color es requerido.</p>
            </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">{{vm.color._id ? 'Actualizar' : 'Crear'}}</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
